$corPrimariaTitulos: #142a8c;         // Roxo Escuro – títulos
$corSecundariaAcentos: #00BFFF;       // Azul Elétrico – acentos e detalhes
$corFundoPrincipal: #0545bd;          // Cinza Escuro – fundo principal
$corDestaqueContraste: #00ff22;       // Amarelo Luminoso – destaques e botões
$corTextoBase: #F5F5F5;               // Branco Pálido – textos

// 🧪 Extras sugeridos para efeitos VFX
//$corGlowHover: lighten($corSecundariaAcentos, 10%);